/* Move down content because we have a fixed navbar that is 50px tall */
body
{
  padding-top: 2rem;
}

.BCHbadge
{
  position: absolute;

  right: 5px;
  bottom: 5px;
}

.container {
  padding-top: 70px;
}

.table {
  margin: 2rem 0;
}

.edit-user > input.form-control {
  margin: 1rem 0;
}